# Misc
data/
logs/
backups/
venv/*
.venv/*
*.log
.env
__pycache__/

# Configuration files
config/data_history.json

# Temporary and test files
test.*
test/
nohup.out
tmp/

# Build artifacts
build/
dist/
*.egg-info/

# Airflow
airflow_config/config/*.cfg
airflow_config/logs