@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gray-50 dark:bg-slate-900;
  }
}

@layer utilities {
  .animate-slide-in {
    animation: slide-in 0.2s ease-out;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
